.container_form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #D2B48C; Brown background */
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 2;
    visibility: visible;
    transition: all ease-in-out;
  }
  .hide
  {
    transform: translateX(-1200px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5;
  }
  
  .form {
    width: 400px;
    padding: 20px;
    background-color: #F5DEB3; /* Light brown background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Styling for file input */
  input[type="file"] {
    display: none;
  }
  
  .file-input-label {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .file-input-label:hover {
    background-color: #45a049;
  }
  