.navbar{
    width: 100vw;
    height: 15vh;
    background-color: rgb(164, 136, 99);
    position: sticky;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.sec1
{
height: 100%;
width: 100%;
background-color: rgb(40, 12, 12);
display: grid;
grid-template-columns: 1fr 2fr;
justify-content: center;
align-items: center;
margin: 5%;
border-radius: 20px;
}
.sec2
{
height: 100%;
width: 100%;

}
.icon
{
font-size: 35px;
padding-left: 10%;
display: flex;
align-items: center;
justify-content: space-evenly;
justify-items: start;
color: aliceblue;
}
.search
{
display: flex;
align-items: center;
justify-content: center;
}
.input{
   
width: 60%;
border-radius: 10px;
border: none;
height: 5vh;
/* flex-grow: 1; */
}
.search_btn
{
   
  height: 2.5rem;
   background-color: green;
   margin: 3%;
    /* flex-grow: 1; */
    
}
.contribute
{
    color: aliceblue;
    font-size: medium;
    flex-wrap: wrap;
    text-decoration: none;
    cursor: pointer;

}
.contribute :hover{
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
}
.search_icon
{
    display: flex;

}

